%section#opscode_index

  #node_monitor

    .head_tool_bar

      %h1 Node Monitor

      = link_to 'run chef-client', opscode_run_path, :remote => true, :title => 'sudo chef-client'

      %span run chef-client

    #view_port

      #stdout

    .foot_tool_bar

      #loader= image_tag 'public/opscode/index/blinker.gif'

      #status

      #actions

        = link_to '^C', '#abort', 'data-stop' => true, :id => 'abort', :title => 'abort'

        %span :

        = link_to 'clear', '#clear', 'data-stop' => true, :id => 'clear', :title => 'clear'

  %footer

    = link_to 'About', opscode_about_node_monitor_path

    %span :

    = link_to 'Gist', opscode_gist_path


:coffee
  $ ->
    Odb.View.start 'Public::Opscode::Index::Loader', el: document
    Odb.View.start 'Public::Opscode::Index::NodeMonitor',
      el: $('#node_monitor')
      tail_path: '#{opscode_tail_path}'
      default_status: '...'
      completed_message: '#{@chef}'
