!!! 5
%html
  %head

    %title= @title
    %meta{:name => "description", :content => @description}
    %meta{:name => "keywords", :content => @metatags}

    = stylesheet_link_tag 'public'

    :javascript
      var js_debug = #{Rails.env.development?};

    = javascript_include_tag 'public'
    = csrf_meta_tags

  %body
    = yield
