!!! 5
%html
  %head

    %title= @title
    %meta{:name => "description", :content => @description}
    %meta{:name => "keywords", :content => @metatags}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}

    = stylesheet_link_tag params[:controller]

    :coffee
      top.js_debug = #{Rails.env.development?}

    = javascript_include_tag params[:controller]

    = csrf_meta_tags

  %body= yield
