!!! 5
%html
  %head

    %title= @title
    %meta{:name => "description", :content => @description}
    %meta{:name => "keywords", :content => @metatags}

    = stylesheet_link_tag params[:controller]

    :coffee
      js_debug = #{Rails.env.development?}

    = javascript_include_tag params[:controller]

    = csrf_meta_tags

  %body= yield
